<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NYRAH Admin – Customers</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/admin/dashboard.css">
 <link rel="stylesheet" href="/admin/customer.css">
</head>
<body>
<div class="container">
<%- include('../../views/partials/admin/side')%>

  <main class="content">
   <header class="top-nav">
  <%- include('../../views/partials/admin/header')%>
</header>


    <h2 class="title">Customers</h2>

    <div class="search-filter">
      <div class="search-box">
        <i class="bi bi-search"></i>
   <form method="GET" action="/admin/customers">
  <input 
  type="text" 
  id="searchInput"
  name="search" 
  placeholder="Search by name"
  value="<%= search %>"
>
</form>
      </div>
       <a href="/admin/customers" class="filter-btn"style="text-decoration:none">
  Clear
</a>
    </div>  
   
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Pnone</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%for(let i=0;i<data.length;i++){%>
          <tr>
           <td><%=data[i].name%></td>
           <td><%=data[i].email%></td>
           <td><%=data[i].phone%></td>
          <td>
            
 <a href="/admin/customers/<%= data[i]._id %>"
   class="view-btn">
   <i class="bi bi-eye"></i>
</a>

<% if (!data[i].isBlocked) { %>
  <a href="/admin/blockCustomer?id=<%= data[i]._id %>&page=<%= currentPage %>&search=<%= search %>"
     class="btn btn-danger text-white"
     style="width:80px; text-decoration:none;">
    Block
  </a>
<% } else { %>
  <a href="/admin/unblockCustomer?id=<%= data[i]._id %>&page=<%= currentPage %>&search=<%= search %>"
     class="btn btn-success text-white"
     style="width:80px; text-decoration:none;">
    Unblock
  </a>
<% } %>

</td>

          </tr>
          <%}%>
        </tbody>
      </table>
      <%- include('../../views/partials/admin/footer')%>
    </div>
    

    
  </main>
</div>
<script> 
document.getElementById("searchInput").addEventListener("keydown", function (e) {
    if (e.key === "Enter") {
        e.preventDefault();
        let searchName = this.value.trim().toLowerCase();
        let rows = document.querySelectorAll("tbody tr");
        let found = false;
        rows.forEach(row => {
            let nameCell = row.querySelector("td"); 
            let customerName = nameCell.innerText.trim().toLowerCase();
            if (customerName === searchName) {
                row.style.display = "";
                found = true;
            } else {
                row.style.display = "none";
            }
        });
        if (!found && searchName !== "") {
            alert("Customer not found");
        }
    }
});

    document.addEventListener("DOMContentLoaded", () => {
        let currentPath = window.location.pathname;

        document.querySelectorAll(".menu li a").forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.parentElement.classList.add("active");
            }
        });
    });


        </script>
</body>
</html>
