<link rel="stylesheet" href="/admin/dashboard.css">
<link rel="stylesheet" href="/admin/productVari.css">
<%- include('../../views/partials/admin/header')%>
<%- include('../../views/partials/admin/side')%>

<div class="admin-container">
  <div class="page-header">
    <div>
      <h3>Product variants : <%= product.productName %></h3>
    </div>
    <% if (product.productImage && product.productImage.length > 0) { %>
      <img src="/uploads/productImages/<%= product.productImage[0] %>" alt="<%= product.productName %>">
    <% } else { %>
      <img src="/uploads/default.png" alt="No Image">
    <% } %>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Colour</th>
          <th>Size</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
   <tbody>
  <% if (product.variants.length === 0) { %>
    <tr>
      <td colspan="5">No variants added yet</td>
    </tr>
  <% } %>

  <% product.variants.forEach(variant => { %>
    <tr>
      <td><%= variant.color %></td>
      <td><%= variant.size %></td>
      <td><%= variant.price %></td>
      <td><%= variant.stock %></td>
      <td>
        <% if (variant.image) { %>
          <img src="/uploads/productImages/<%= variant.image %>" width="50">
        <% } %>

        <a href="/admin/productVariants/<%= product._id %>/edit/<%= variant._id %>">
          Edit
        </a>

        <form
          action="/admin/productVariants/<%= product._id %>/delete/<%= variant._id %>"
          method="POST"
          style="display:inline;"
        >
          <button type="submit">Del</button>
        </form>
      </td>
    </tr>
  <% }) %>
</tbody>


    </table>
  </div>

  <div class="form-container">
    <h2>Add a new Variant</h2>
   <form action="/admin/productVariants/<%= product._id %>/add"
      method="POST"
      enctype="multipart/form-data">
  <input type="text" name="color" placeholder="Colour" required>
  <input type="text" name="size" placeholder="Size" required>
  <input type="number" name="price" placeholder="Price" required>
  <input type="number" name="stock" placeholder="Stock" required>
  <input type="file" name="image">
  <button type="submit">Add Variant</button>
</form>

  </div>
</div>
<%- include('../../views/partials/admin/footer')%>
<script>
  function editVariant(id) {
    window.location.href = `/admin/products/<%= product._id %>/variants/${id}/edit`;
  }

  function deleteVariant(id) {
    if(confirm('Are you sure you want to delete this variant?')) {
      window.location.href = `/admin/products/<%= product._id %>/variants/${id}/delete`;
    }
  }
</script>

